.media-box-wrapper {
  padding-bottom: 10px;
  padding-top: 5px;
}

.media-box {
  min-width: 350px;
  min-height: 130px;
  padding: 0 10px 10px 0;
}

.cover-art {
  background-size: cover;
  min-width: 125px;
  min-height: 125px;
  margin: 10px 10px 0px 0;
  border-radius: 12px;
}

.now-playing {
  font-size: 12px;
  margin: 0 5px;
}

.track-thumnail-box {
  padding: 0 10px;
}

.track-info {
  min-height: 70px;
}

.track-name {
  margin: 2px 0;
}

.track-info label {
  font-size: 14px;
}

.track-name {
  font-weight: bold;
}

.artist-name {
  font-weight: lighter;
}

.position-slider {
  padding: 0 0px;
}

.position-slider slider {
  all: unset;
}

.position-slider trough {
  background-color: @base-transparent;
  border-color: @accent-blue-trans-inactive;
  border-radius: 24px;
  min-height: 5px;
}

.position-slider trough highlight {
  background-color: @accent-blue-trans;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  min-height: 2px;
}

.position-label {
  font-weight: lighter;
  font-size: 13px;
}

.media-controls {
  font-size: 20px;
  /* margin: 1px 0; */
  color: @accent-blue-trans-inactive;
}

.media-controls button {
  all: unset;
  margin: 5px;
}

.loop-button.active {
  color: @accent-blue-trans;
}

.shuffle-button.active {
  color: @accent-blue-trans;
}
