.media-box-wrapper {
  padding-bottom: 10px;
  padding-top: 5px;
}

.media-box {
  min-height: 100px;
  padding: 0 0px 10px 0;
  background-color: @media-widget-bg;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
}

.cover-art {
  background-size: cover;
  min-width: 100px;
  min-height: 100px;
  margin-right: 5px;
  border-radius: 12px;
}

.now-playing {
  font-size: 12px;
  margin: 0 5px;
}

.track-info {
  min-height: 30px;
  margin-bottom: 5px;
}

.track-name {
  margin: 2px 0;
}

.track-info label {
  font-size: 14px;
}

.track-name {
  font-weight: bold;
}

.artist-name {
  font-weight: lighter;
}

.position-slider {
  padding: 0 0px;
}

.position-slider slider {
  all: unset;
}

.position-slider trough {
  background-color: @media-widget-bg;
  border: 1px solid @accent-inactive;
  border-radius: 24px;
  min-height: 5px;
}

.position-slider trough highlight {
  all: unset;
  background-color: @accent;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  min-height: 2px;
}

.position-label {
  font-weight: lighter;
  font-size: 13px;
}

.media-controls {
  font-size: 25px;
  color: @accent-inactive;
}

.media-button-row {
  border-radius: 25px;
  margin-top: 5px;
  padding: 5px;
}

.media-controls button {
  all: unset;
  margin-left: 5px;
}

.loop-button.active {
  color: @accent;
}

.shuffle-button.active {
  color: @accent;
}
