.sidebar-wrapper {
  background-color: @base-transparent;
}

.content-window {
  background-color: @base-transparent;
  border-radius: 0 25px 25px 0;
}

.content-wrapper {
  padding: 0 10px 0 0;
}

.sidebar-button-wrapper {
  /* min-width: 200px; */
  padding: 10px 15px 0px 15px;
  font-size: 30px;
  margin: 3px 0;
}

.sidebar-button {
  min-width: 20px;
}

.sidebar-button-icon {
  color: @accent-blue-trans;
}

.sidebar-button-icon.active {
  color: @sidebar-active;
}

.sidebar-button-wrapper button {
  all: unset;
}
