$main: rgba(#091326, 0.7);
$secondary: rgba(#091326, 0.8);

$sidebar-active: #64bdd5;

$accent: rgba(#64bdd5, 0.6);
$accent-inactive: rgba(#64bdd5, 0.3);

$text: #a9d6e2;
/* $text: black; */
$text-accent: #64bdd5;
$subtext0: #a5adcb;
$subtext1: #b8c0e0;
