@use "../../../../style/colors";

.applauncher-box {
  min-height: 400px;
  min-width: 400px;
  border: 2px solid colors.$accent;
  background-color: colors.$secondary;
  border-radius: 20px;
}

.applauncher-searchbox {
  all: unset;
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: colors.$text;
  border-radius: 25px 25px 0px 0px;
  padding-top: 0px;
  background-color: unset;
}

.applauncher-application-entry {
  all: unset;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 50px;
}

.applauncher-application-entry:hover {
  background-color: colors.$accent-inactive;
}

.applauncher-application-entry:focus {
  background-color: colors.$accent-inactive;
}

.applauncher-application-label {
  color: colors.$text;
  padding-left: 5px;
}
